<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>
    
     <p th:text="${#httpServletRequest.requestURI}"></p>
     
     
     <p>WITH THYMELEAF</p>
     
     <h4>httpServReqReference:</h4> 
     <p th:text="${#httpServletRequest.remoteUser}"></p>
     <h4>securityNamespace</h4>
     <p sec:authentication="name"></p>
     
     Logged user: <span sec:authentication="name">someUser</span>
	 Roles: <span sec:authentication="principal.authorities">[ROLE_X, ROLE_Y]</span>
	
</body>
</html>