<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista de alumnos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
     Logged user: <span sec:authentication="name">someUser</span>
	 Roles: <span sec:authentication="principal.authorities">[ROLE_X, ROLE_Y]</span>

<!-- 	<p th:text="${#ctx.applicationAttributes}">ctx.attrs</p> -->
<!-- 	<p th:text="${#ctx.httpSession}">ctx.httpSess</p> -->
	<p th:text="${#ctx.sessionAttributes.SPRING_SECURITY_CONTEXT.authentication.authorities}">ctx.SPRING_SECURITY_CONTEXT</p>
<!-- 	<p th:text="${#ctx.requestParameters}">ctx.reqParms</p> -->
	<p th:text="${#ctx.sessionAttributes}">ctx.sessAttrs</p>

<!-- 	<div th:switch="${user.role}"> -->
<!--   <p th:case="'admin'">User is an administrator</p> -->
<!--   <p th:case="#{roles.manager}">User is a manager</p> -->
<!--   <p th:case="*">User is some other thing</p> -->
<!-- </div> -->

    
</body>
</html>