<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	<link rel="stylesheet" type="text/css" href="../../../webapp/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
		
	<script src="../../webapp/js/jquery.js" th:src="@{/js/jquery.js}"></script>
	<script src="../../webapp/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../../webapp/js/ajaxMethods.js" th:src="@{/js/ajaxMethods.js}"></script>

</head>
<body class="container-fluid">
	<div th:replace="frags/common :: menu"></div>
	<ul th:fragment="brCrumbCatOrderType" class="breadcrumb">
		<li><span th:text="#{menu.inv.item}">items!!</span></li>
	</ul>
			
 	<h2 th:text="#{item.lbl.title}">Item management!!</h2>
 	<a th:href="@{/items/add}" href="#"
 		th:text="#{item.btn.addNew}">Add new item!!</a>
 	
 	<br/><br/>

	 <div th:if="${eventDone} == 'added'">
 		<div th:replace="frags/common :: alert(#{item.msg.addSuccess},'success')"></div>
	</div>
	 <div th:if="${eventDone} == 'updated'">
 		<div th:replace="frags/common :: alert(#{item.msg.updateSuccess},'success')"></div>
	</div>
	 <div th:if="${eventDone} == 'idNotFound'">
	 		<div th:replace="frags/common :: alert(#{item.msg.notFound},'warning')"></div>
	</div>


	<div class="table-responsive">
		<form th:action="@{items}" method="get" class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="searchBox" th:text="#{btn.search}">Search!!</label>
  				<input type="search" id="searchBox" name="searchText" th:value="${searchText}"/>
  				<button type="submit" class="btn btn-default btn-sm" th:text="#{btn.search}">search!!</button>
	  		</div>
		</form>
		<table id="categoriesTable" class="table table-condensed table-striped table-hover" th:fragment="tableCategory">
			<thead>
				<tr>
					<th th:text="#{item.lbl.id}">Id!!</th>
					<th th:text="#{itemcategory.lbl.desc}">category!!</th>
					<th th:text="#{item.lbl.name}">item!!</th>
					<th th:text="#{item.lbl.desc}">description!!</th>
					<th th:text="#{item.lbl.rating}">rating!!</th>
					<th></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="3">
						<ul th:replace="frags/common :: pagingBar(${items},100,${searchText},'items')"></ul>
					</td>
					<td colspan="3"></td>
				</tr>
			</tfoot>
			<tbody th:remove="all-but-first">
				<tr th:each="item : ${items.content}">
					<td th:text="${item.id}">111</td>
					<td th:text="${item.category.description}">Category 111</td>
					<td th:text="${item.name}">name 111</td>
					<td th:text="${item.description}">description 111</td>
					<td th:text="${item.rating}">rating 111</td>
					<td><img th:if="${item.urlImage}" th:src="@{'/gallery/'+${item.urlSnapshot}}" class="col-sm-6"></img></td>
					<td><a  href="#" th:href="@{/items/}+${item.id}" th:text="#{lbl.edit}">Modify!!</a></td>
				</tr>
				<tr><td>222</td><td>Category 222</td><td>a name d</td><td>a desc</td><td>a rating3</td><td><a href="#">Modify!!</a></td></tr>
				<tr><td>222</td><td>Category 222</td><td>a name d</td><td>a desc</td><td>a rating3</td><td><a href="#">Modify!!</a></td></tr>
				<tr><td>222</td><td>Category 222</td><td>a name d</td><td>a desc</td><td>a rating3</td><td><a href="#">Modify!!</a></td></tr>
			</tbody>
			
		</table>
		
	</div>
</body>
</html>