<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<!-- *************	APPLICATION'S MENU ********** -->
	<nav class="navbar navbar-default text-uppercase" th:fragment="menu">
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation!!</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="#" th:href="@{/}" class="navbar-brand"
	        	th:text="#{menu.home}">home!!</a>   
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle"
	          		data-toggle="dropdown"><span th:text="#{menu.catalogs}">catalogs!!</span><span class="caret"></span></a>
				<ul th:fragment="catalogList(asList)" th:class="!${asList}?dropdown-menu">
					<li><a href="#" th:href="@{/catalogs/categories}" th:text="#{menu.catalogs.itemcategory}">Item Categories!!</a></li>
					<li><a href="#" th:href="@{/catalogs/units}" th:text="#{menu.catalogs.itemunit}">Units!!</a></li>
					<li class="divider" th:unless="${asList}"></li>
					<li><a href="#" th:href="@{/catalogs/custType}" th:text="#{menu.catalogs.customerType}">Customer Type!!</a></li>
					<li><a href="#" th:href="@{/catalogs/custStatus}" th:text="#{menu.catalogs.customerStatus}">Customer Status!!</a></li>
					<li class="divider" th:unless="${asList}"></li>
					<li><a href="#" th:href="@{/catalogs/orderTypes}" th:text="#{menu.catalogs.orderType}">Order Type!!</a></li>
					<li><a href="#" th:href="@{/catalogs/workflows}" th:text="#{menu.catalogs.orderWorkflow}">Order Workflow!!</a></li>
					<li><a href="#" th:href="@{/catalogs/orderStatuses}" th:text="#{menu.catalogs.orderStatus}">Order Status!!</a></li>
				</ul>
	        </li>
	        <li><a  th:href="@{/about}" href="#" th:text="#{menu.about}" data-toggle="modal" data-target="#modalBox">About!!</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li>
		      <form class="navbar-form navbar-left" method="post"
		      	th:action="@{/logout}">
		        <input type="submit" class="btn btn-default" value="Logout!!" th:value="#{login.btn.logout}"/>
		      </form>
		    </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	  
	  <div class="modal fade" id="modalBox" tabindex="-1" role="dialog" aria-labelledby="modalBox" aria-hidden="true">
	    <div class="modal-dialog">
	    	<div class="modal-content"></div>
	    </div>
	  </div>
	  
	</nav>

<!-- *************	PAGINATION BAR : BUTTONS,FISRT AND LAST ********** -->
	<ul class="pagination pagination-sm" th:fragment="pagingBar(page,pageSize,searchText,path)">
		<li th:class="${page.firstPage}?'previous disabled' : 'previous '">
   			<a th:unless="${page.firstPage}" th:href="@{${path}(page=0,size=${pageSize},searchText=${searchText})}"
   			 	th:text="#{lbl.first}">First!!</a>
   			<a th:if="${page.firstPage}" th:text="#{lbl.first}">First!</a>
		</li> 
 		<li th:each="number : ${#numbers.sequence(1, page.totalPages)}" th:with="current=(${page.number+1} == ${number})" 
 			th:class="${current}?'active'">
 			<a th:unless="${current}" th:text="${number}" th:href="@{${path}(page=${number-1},size=${pageSize},searchText=${searchText})}"></a>
 			<a th:if="${current}" th:text="${number}"></a>
 		</li> 
		<li th:class="${page.lastPage}?'next disabled' : 'next'">
   			<a th:unless="${page.lastPage}" th:href="@{${path}(page=${page.totalPages-1},size=${pageSize},searchText=${searchText})}"
   				th:text="#{lbl.last}">Last!!</a>
   			<a th:if="${page.lastPage}" th:text="#{lbl.last}">Last!</a>
   		</li>
	</ul>


<!-- *************	BREADCRUMB CATALOGS ********** -->
	<ul th:fragment="brCrumbCat" class="breadcrumb">
		<li><span th:text="#{menu.catalogs}"></span></li>
	</ul>

<!-- *************	BREADCRUMBS FOR CATEGORIES ********** -->
	<ul th:fragment="brCrumbCatCateg" class="breadcrumb">
		<li><a th:href="@{/catalogs}" th:text="#{menu.catalogs}" href="#"></a></li>
		<li><span th:text="#{menu.catalogs.itemcategory}"></span></li>
	</ul>
	<ul th:fragment="brCrumbCatCategNew" class="breadcrumb">
		<li><a th:href="@{/catalogs}" th:text="#{menu.catalogs}" href="#">catalogs!!</a></li>
		<li><a th:href="@{/catalogs/categories}" th:text="#{menu.catalogs.itemcategory}" href="#">category!!</a></li>
		<li><span th:text="#{menu.catalogs.itemcategory.addNew}">new!!</span></li>
	</ul>
	<ul th:fragment="brCrumbCatCategEdit" class="breadcrumb">
		<li><a th:href="@{/catalogs}" th:text="#{menu.catalogs}" href="#">catalogs!!</a></li>
		<li><a th:href="@{/catalogs/categories}" th:text="#{menu.catalogs.itemcategory}" href="#">category!!</a></li>
		<li><span th:text="#{menu.catalogs.itemcategory.edit}">edit!!</span></li>
	</ul>

<!-- *************	BREADCRUMBS FOR UNITS ********** -->
	<ul th:fragment="brCrumbCatUnit" class="breadcrumb">
		<li><a th:href="@{/catalogs}" th:text="#{menu.catalogs}" href="#"></a></li>
		<li><span th:text="#{menu.catalogs.itemunit}"></span></li>
	</ul>
	<ul th:fragment="brCrumbCatUnitNew" class="breadcrumb">
		<li><a th:href="@{/catalogs}" th:text="#{menu.catalogs}" href="#">catalogs!!</a></li>
		<li><a th:href="@{/catalogs/units}" th:text="#{menu.catalogs.itemunit}" href="#">unit!!</a></li>
		<li><span th:text="#{menu.catalogs.itemunit.addNew}">new!!</span></li>
	</ul>
	<ul th:fragment="brCrumbCatUnitEdit" class="breadcrumb">
		<li><a th:href="@{/catalogs}" th:text="#{menu.catalogs}" href="#">catalogs!!</a></li>
		<li><a th:href="@{/catalogs/units}" th:text="#{menu.catalogs.itemcategory}" href="#">unit!!</a></li>
		<li><span th:text="#{menu.catalogs.itemunit.edit}">edit!!</span></li>
	</ul>

<!-- *************	INLINE ALERTS ********** -->
<!-- 	 	<div class="alert alert-success alert-dismissible" role="alert" th:fragment="alertInfo(message)"> -->
<!-- 	 		<strong th:text="${message}"></strong> -->
<!-- 	 		<button type="button" class="close" data-dismiss="alert">&times;</button>	 -->
<!-- 	 	</div> -->
<!-- 	 	<div class="alert alert-warning alert-dismissible" role="alert" th:fragment="warningInfo(message)"> -->
<!-- 	 		<strong th:text="${message}"></strong> -->
<!-- 	 		<button type="button" class="close" data-dismiss="alert">&times;</button>	 -->
<!-- 	 	</div> -->

	 	<div th:class="'alert alert-'+${type}+' alert-dismissible'" role="alert" th:fragment="alert(message,type)">
	 		<strong th:text="${message}"></strong>
	 		<button type="button" class="close" data-dismiss="alert">&times;</button>	
	 	</div>
	
</body>
</html>