@CHARSET "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html {
 	background: linear-gradient(#001F33, #4DB8FF); /* Standard syntax */
    height: 100%;
}
body {
    color: #000;
    font: 14px Verdana, Geneva, sans-serif;
}
.menuContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 96%;
    background:none;
    display:flex;
    align-items: center;
}
   
.menuContainer input[type=submit]{
	color:#FFF;
	border:none;
	font-size:16px;
	font-weight:bold;
	background:transparent;
	cursor:pointer;
} 

/* common and top level styles */
#menu span {
    display: none;
}
#menu, #menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#menu {
	background: -webkit-linear-gradient(#002E4C, #33ADFF, #002E4C); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#002E4C, #33ADFF, #002E4C); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#002E4C, #33ADFF, #002E4C); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#002E4C, #33ADFF, #002E4C); /* Standard syntax */
    border: 2px ridge #B2C0C9;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    width: 98%;
}
#menu ul.submenu {
    background: #CCC;
    opacity:0.9;
    box-shadow:  3px 3px 5px  #000;
    color: #000;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    top: 50px;
    width: 96%;
}
#menu > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    -webkit-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}
#menu li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 250ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 250ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 250ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 250ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 250ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#menu > li > a {
    color: #000;
    display: block;
    font-size: 1.3em;
    line-height: 49px;
    padding: 0 15px;
    text-transform: uppercase;
}
#menu > li:hover > a, #menu > a:hover, #menu li.active > a:hover {
	color:white;
	font-weight: bold;
	opacity:1;
	background: -webkit-linear-gradient(#33ADFF, #002E4C, #33ADFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#002E4C, #33ADFF, #002E4C); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#002E4C, #33ADFF, #002E4C); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#305E7C, #63dDFF, #305E7C); /* Standard syntax */
}
#menu li.active > a {
    background-color: #222;
    opacity:0.4;
    color: #FFFFFF;
}

/* submenu */
#menu li:hover ul.submenu {
    display: block;
}
#menu ul.submenu > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 30%;
}
#menu ul.submenu > li a {
    color: #222;
    line-height: 20px;
}
#menu ul li a:hover {
    color: #000;
    font-weight: bold;
}
#menu ul.submenu > li > a {
    font-size: 1.3em;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#menu ul.submenu > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#menu ul.submenu > li li:hover {
    padding-left: 20px;
}

/* responsive rules */
@media all and (max-width : 980px) {
    #menu > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
    #menu ul.submenu {
        position: relative;
        top: 0;
    }
    #menu li:hover ul.submenu {
        display: none;
    }
    #menu li #s1:target + ul.submenu,
    #menu li #s2:target + ul.submenu {
        display: block;
    }

    #menu ul.submenu > li {
        display: block;
        width: auto;
    }
}
