<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	<link rel="stylesheet" type="text/css" href="../../../webapp/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../webapp/css/main.css" th:href="@{/css/main.css}"/>
		
<!-- 	<script src="../../webapp/js/jquery.js" th:src="@{/js/jquery.js}"></script> -->
<!-- 	<script src="../../webapp/js/jquery-form.js" th:src="@{/js/jquery-form.js}"></script> -->
<!-- 	<script src="../../webapp/js/ajaxMethods.js" th:src="@{/js/ajaxMethods.js}"></script> -->
	<script src="../../webapp/js/jquery.js" th:src="@{/js/jquery.js}"></script>
	<script src="../../webapp/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    
</head>
<body>
	<div th:replace="index :: menu"></div>

<ol>
	<li><a href="#" th:href="@{catalogs/categories}">Item Categories!!</a></li>
</ol>

</body>
</html>