<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	<link rel="stylesheet" type="text/css" href="../../../webapp/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
		
	<script src="../../webapp/js/jquery.js" th:src="@{/js/jquery.js}"></script>
	<script src="../../webapp/js/jquery-form.js" th:src="@{/js/jquery-form.js}"></script>
	<script src="../../webapp/js/ajaxMethods.js" th:src="@{/js/ajaxMethods.js}"></script>
	<script src="../../webapp/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
   
</head>
<body>
	<br th:replace="frags/common :: menu"/>
	<br th:replace="frags/common :: breadcrumbsCatagories"/>		
		
	 	<h2 th:text="#{itemcategory.lbl.title}">Item categories!!</h2>
	 	<p th:text="#{itemcategory.lbl.caption}">ADD Item categories description!!</p>
	 	
	 	<form th:action="@{/catalogs/categories/add}" method="post" th:object="${category}">
	 	<table>
	 		<tr>
	 			<td>
	 				<label for="description" th:text="#{itemCategory.lbl.desc}"></label>
	 			</td>
	 			<td>
	 				<input id="description"  th:field="*{description}" th:errorclass="invalidField" type="text" required="required"
	 				 	autofocus="autofocus"/>
	 			</td>
	 			<td>
			 		<ul th:if="${#fields.hasErrors('description')}">
			 			<li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
			 		</ul>
	 			</td>
	 		</tr>
	 		<tr>
	 			<td colspan="3"><button type="submit" th:text="#{btn.add}">Add!!</button></td>
	 		</tr>
	 	</table>
	 	</form>

</body>
</html>