<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Invent</title>
		
		<!--[if lt IE 9]>
		          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		        <![endif]-->
		
		<!-- Our CSS stylesheet file -->
<!-- 		<link rel="stylesheet" type="text/css" href="../../../webapp/css/menu.css" th:href="@{/css/menu.css}"/> -->
		<link rel="stylesheet" type="text/css" href="../../../webapp/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
	
		<script src="../../webapp/js/jquery.js" th:src="@{/js/jquery.js}"></script>
		<script src="../../webapp/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

	</head>
	<body>
		<nav th:replace="frags/common :: menu"></nav>
	</body>
</html>

